* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cor-primaria: rgb(253, 152, 0);

body{
    background-image: url(../../imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    .container-main{    
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        main {
            background-color: rgb(255, 255, 255);
            color: $cor-primaria;
            border: 1px solid white;
            border-radius: 50px;
            height: 350px;
            width: 400px;
            display: flex;
            flex-direction: column;
    
            .title{
                font-size: 50px;
                width: 400px;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
    
            .buttons{
                margin-top: 10px;
                width: 400px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;

                a {
                    color: white;
                    text-decoration: none;
                }
    
                .btn{
                    width: 200px;
                    background-color:$cor-primaria;
                    color: white;

                    &:hover{
                        border: 2px solid rgba(0, 0, 0, 0.13);
                    }
                }
            }
        }
    }
}